.img-mod
{
    margin-bottom: 25px;
}
.Osnova
{
    margin: 0;
    display: block;
    min-width: 1200px;
    padding: 0;
}
.modules-li-block {
    background: #FFFFFF;
    display: inline-block;
    width: 572px;
    height: 505px;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 180px;
    width:572px;
    vertical-align: top;
    margin-right: 25px;
    margin-bottom: 25px;
}
.modules-li-block:nth-child(2n) {
    margin-right: 0;
}
.modules-block
{
    margin: 0;
    padding-left: 25px;
    
}

.h1-modules{
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #3F2AFF;
}
.h2-modules
{
    margin: 0;
    margin-top: 25px;
    padding-left: 25px;
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    color: #3f2aff;

}
.button-modules
{
    display: block;
    margin: 0 auto;
    padding: 25px 76px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #3F2AFF;
    border-radius: 0;
    border-color: #3F2AFF;
}
.ling
{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
    list-style-type: none;
    
}
.threemodules{
    margin: 0;
    
}

.backgron1
{

    background-image: url(../FIGMA/1.png);
}
.backgron2{

    background-image: url(../FIGMA/2.png);
}
.backgron3{

background-image: url(../FIGMA/3.png);
}
.backgron4{

background-image: url(../FIGMA/4.png);
}

.backgron555{
    background-image: url(../FIGMA/Arrow\ 1.png);
}

.a-modules
{
display: block;
margin-bottom: 25px;
padding-left: 50px;

background-image: url(../FIGMA/Arrow\ 1.png);
background-position: left center ;
background-repeat: no-repeat;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #3F2AFF;

}